


<!--  -->

<nav class="section-nav">
      <ol>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#request-response">Request &amp; Response</a></li>
          <li><a href="#authentication">Authentication</a></li>
          <li><a href="#endpoints">Endpoints</a>
              <ul>
                  <li class=""><a href="#endpoints--root">Root</a></li>
                  <li class=""><a href="#endpoints--cities-overview">Cities Overview</a></li>
                  <li class=""><a href="#endpoints--city-detail">City Detail</a></li>
                  <li class=""><a href="#endpoints--city-config">City Config</a></li>
                  <li class=""><a href="#endpoints--city-spots-overview">City Spots Overview</a></li>
                  <li class=""><a href="#endpoints--city-spot-detail">City Spot Detail</a></li>
                  <li class=""><a href="#endpoints--city-icons-overview">City Icons Overview</a></li>
                  <li class=""><a href="#endpoints--city-icon-detail">City Icon Detail</a></li>
              </ul>
          </li>
          <li class=""><a href="#links">Links</a></li>
          <li class=""><a href="#expanders">Expanders</a></li>
          <li class=""><a href="#filters">Filters</a></li>
      </ol>
  </nav>