{{ define "main" }}
	<main>
	</main>

{{ partial "header.html" . }}

{{ range sort (where .Site.AllPages "Type" "overview") ".Params.order" }}
	<div class="mw7 center measure pa3">
		<div class="section-nav tc">
			<a href="#top">☝︎</a> •
			<a href="#description">Description</a> •
			<a href="#schedule">Schedule</a> •
			<a href="#admin">Administrivia</a> •
			<a href="#bottom">☟</a>
			<br/>
			<br/>
		</div>
    <div>
      {{ with .Content }} {{ . }} {{ end }}
    </div>
	</div>
{{ end }}

{{ end }}
